    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand center jello" href="/rascunho"><img src="/projects/rascunho/images/logo.png" id="logo" alt="logo" width="35"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link active" href="/#portfolio">PORTFOLIO<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/rascunho/tirinhas">TIRINHAS <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" data-lightbox="meet-the-artist" href="/projects/rascunho/images/meet-the-artist.jpg" class="meet-the-artist">LUCAS GUEDES</a>
            </div>
        </div>
    </nav>