    <% include partials/header %>
<% include partials/navbar %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div style="background-color: #6CB4C5">
    <h1 class="animated bounceInDown">BEM-VINDO AO RASCUNHO MALDITO</h1>
    <img class="cover" src="/projects/rascunho/images/cover.png" alt="cover" width="100%">
</div>
<div class="arrow bounce">
    <a href="#tirinhas"><img src="/projects/rascunho/images/scroll-bottom.png" alt="sb-logo" width="40" height="40"></a>
</div>
<div id="tirinhas">
    <div class="row">
        <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/2.png" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/2.png" alt="1" width="50%"></a></div>
        <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/1.png" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/1.png" alt="1" width="50%"></a></div>
        <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/3.png" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/3.png" alt="1" width="50%"></a></div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/4.jpg" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/4.jpg" alt="1" width="50%"></a></div>
        <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/5.png" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/5.png" alt="1" width="50%"></a></div>
        <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/6.png" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/6.png" alt="1" width="50%"></a></div>
    </div>
</div>
<div class="arrow arrow__bounce">
        <a href="#dinosaurs"><img src="/projects/rascunho/images/scroll-bottom.png" alt="sb-logo" width="40" height="40"></a>
</div>
<div id="carousel" class="carousel slide" data-ride="carousel">
        <h1 id="dinosaurs">DINOSAURS IN PARTY HATS!</h1>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                        <a href="/projects/rascunho/tirinhas/dino/dino1.png" data-lightbox="dinosaurs"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/dino/dino1.png" alt="First slide" width="60%"></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                        <a href="/projects/rascunho/tirinhas/dino/dino5.png" data-lightbox="dinosaurs"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/dino/dino5.png" alt="Second slide" width="60%"></a>
                </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                        <a href="/projects/rascunho/tirinhas/dino/dino2.png" data-lightbox="dinosaurs"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/dino/dino2.png" alt="Third slide" width="60%"></a>
                </div>
            </div>
          </div>
          <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                            <a href="/projects/rascunho/tirinhas/dino/dino3.png" data-lightbox="dinosaurs"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/dino/dino3.png" alt="First slide" width="60%"></a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                            <a href="/projects/rascunho/tirinhas/dino/dino4.png" data-lightbox="dinosaurs"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/dino/dino4.png" alt="Second slide" width="60%"></a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                            <a href="/projects/rascunho/tirinhas/dino/dino5.png" data-lightbox="dinosaurs"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/dino/dino5.png" alt="Second slide" width="60%"></a>
                    </div>
                </div>
              </div>
          </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
<div class="row">
        <div class="fb-page social col-lg-6 text-left" data-href="https://www.facebook.com/rascunhomaldito" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/rascunhomaldito" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/rascunhomaldito">Rascunho Maldito</a></blockquote>
        </div>
        <div class="more text-right col-lg-6" style="padding-right: 20px;">
            <button onclick="window.location.href='/rascunho/tirinhas'">MAIS TIRINHAS</button>
        </div>
</div>
    
</body>
</html>