<% include partials/header %>
<% include partials/navbar %>

<div id="tirinhas">
    <h1 class="animated bounceInRight">TODAS AS TIRINHAS</h1>
        <div class="row">
            <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/2.png" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/2.png" alt="2" width="60%"></a></div>
            <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/1.png" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/1.png" alt="1" width="60%"></a></div>
            <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/3.png" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/3.png" alt="3" width="60%"></a></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/4.jpg" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/4.jpg" alt="4" width="60%"></a></div>
            <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/5.png" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/5.png" alt="5" width="60%"></a></div>
            <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/6.png" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/6.png" alt="6" width="60%"></a></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/7.png" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/7.png" alt="7" width="60%"></a></div>
            <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/8.png" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/8.png" alt="8" width="60%"></a></div>
            <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/9.png" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/9.png" alt="9" width="60%"></a></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/10.png" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/10.png" alt="10" width="60%"></a></div>
            <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/11.png" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/11.png" alt="11" width="60%"></a></div>
            <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/12.png" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/12.png" alt="12" width="60%"></a></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/13.png" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/13.png" alt="13" width="60%"></a></div>
            <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/15.jpg" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/15.jpg" alt="15" width="60%"></a></div>
            <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/14.png" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/14.png" alt="14" width="60%"></a></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/16.jpg" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/16.jpg" alt="16" width="60%"></a></div>
            <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/17.png" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/17.png" alt="17" width="60%"></a></div>
            <div class="col-lg-4 col-md-12"><a href="/projects/rascunho/tirinhas/18.jpg" data-lightbox="tirinhas"><img class="img-thumbnail" src="/projects/rascunho/tirinhas/18.jpg" alt="18" width="60%"></a></div>
        </div>

    </div>

</body>
</html>